/* 
   thanks to Manoela Ilic:
   http://tympanus.net/codrops/2012/06/12/css-only-responsive-layout-with-smooth-transitions
*/

/* 
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*========================================================*/


body {
	overflow: hidden;
	font-family: 'Archivo Narrow', Helvetica, sans-serif;
	font-weight: 700;
	background-color: #4FB99F;
	color: white;
	transition: all 0.1s;
}

.container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.scroll, .panel {
	position: relative;
	width: 100%;
	height: 100%;
}

.scroll {
	top: -100%;
	left: 0;
	transition: all 0.3s ease-in-out;
    /* Let's enforce some hardware acceleration */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.panel{
    /*overflow: hidden;*/
    overflow-y: scroll;
} 

/* hack to hide scrollbar WEBKIT ONLY */
.panel::-webkit-scrollbar {
	width: 0 !important;
}

/* hack to circumvent sheetrock output */
.invisible {
	display: none;
}

.veg-click {
  position:absolute;
  top:0;
  right:0;
  width: 60px;
  height: 60px;
  background: url(../assets/corner.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
	/*width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 40px 40px 0;
	border-color: transparent #fff transparent transparent;*/
}

.veg-click2 {
  position:absolute;
  top:0;
  right:0;
  width: 60px;
  height: 60px;
  background: url(../assets/carrot.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.pk-click {
	position:absolute;
	top:0;
	left:0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 40px 0px 0px;
	border-color: #fff transparent transparent transparent;
}

.suggestion, .foursquare, .veg-click, .pk-click {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

.content {
  position: absolute;
  width: 80%;
  left: 10%;
  /*to pull content slightly up from center*/
  margin: -18% 0 0 0;
  padding: 0;
  top: 50%; 
  text-align: center;
  /*-webkit-backface-visibility: hidden;*/
}

.header {
  font-size: 88px;
  line-height: 82px;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: default;
}

.suggestion {
  display: inline-block;
  margin-top: 2%;
  padding: 8% 0;
  font-size: 72px;
  line-height: 70px;
  font-weight: 400;
  min-width: 350px;
  background: url(../assets/iconmonstr-refresh-icon.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.foursquare {
  padding: 5px 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 52px;
  background-color: white;
  color: #4FB99F;
}

.alert {
	margin-top: -5%;
}

.doge {
  position: absolute;
  width: 400px;
  right: 0;
  bottom: 0;
}

.icon {
	display: inline-block;
}

.pk-font {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
}

.pk-font .header {
  font-size: 78px;
  line-height: 72px;
  /*text-transform: none;*/
  letter-spacing: 3px
}

.pk-font .suggestion {
  font-size: 54px;
  line-height: 58px;
  font-weight: normal;
}

.pk-font .foursquare {
  font-weight: normal;
  font-size: 16px;
  line-height: 62px;
}

@media all and (max-width: 1200px) {
  .header {
  	font-size: 58px;
  	line-height: 62px;
  }
  .suggestion {
  	font-size: 42px;
    line-height: 50px;
  }
  .doge {
  	width: 340px;
  }
}

@media all and (max-width: 800px) {
  .content {
  /*to pull content slightly up from center*/
  margin: -20% 0 0 0;
  }
  .header {
  	font-size: 48px;
  	line-height: 52px;
  }
  .suggestion {
  	font-size: 32px;
    line-height: 40px;
  }
  .foursquare {
  	font-size: 16px;
    line-height: 50px;
  }
  .doge {
  	width: 250px;
  }
}

@media all and (max-width: 400px;) {
  .content {
  /*to pull content slightly up from center*/
  margin: -25% 0 0 0;
  }
  .header {
  	font-size: 28px;
  	line-height: 32px;
  }
  .suggestion {
  	font-size: 22px;
    line-height: 30px;
    max-width: 300px;
  }
  .foursquare {
  	font-size: 14px;
    line-height: 50px;
  }
  .doge {
  	width: 100px;
  }
}