/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*========================================================*/


body {
	overflow: hidden;
}

.container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-family: 'Archivo Narrow', Helvetica, sans-serif;
	font-weight: 700;
}

/*.container:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 34px;
    background: #e23a6e;
    z-index: 9;
    bottom: 0;
}*/

.scroll, .panel {
	position: relative;
	width: 100%;
	height: 100%;
}

.scroll {
	top: -100%;
	left: 0;
	transition: all 0.3s ease-in-out;
    /* Let's enforce some hardware acceleration */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.panel{
    background: #fff;
    overflow: hidden;
} 

.veg-click {
	position:absolute;
	top:0;
	right:0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 60px 60px 0;
	border-color: transparent #558833 transparent transparent;
}

.pk-click {
	position:absolute;
	bottom:0;
	right:0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 60px 60px;
	border-color: transparent transparent #fff transparent;
}

.suggestion, .link-out, .veg-click, .pk-click {
	cursor: pointer;
}

#panel-2 {
	background-color: #4FB99F;
	color: white;
}

a {
	text-decoration: none;
	color: inherit;
}

.panel > h1 {
  position: absolute;
  width: 80%;
  left: 10%;
  /*to pull content slightly up from center*/
  margin: -15% 0 0 0;
  padding: 0;
  top: 50%; 
  text-align: center;
  /*-webkit-backface-visibility: hidden;*/
}

.header {
  font-size: 88px;
  line-height: 82px;
  text-transform: uppercase;
  letter-spacing: 3px
}

.body-text {
  display: inline-block;
  margin-top: 2%;
  padding: 8% 0;
}

.suggestion {
  font-size: 72px;
  line-height: 70px;
  font-weight: 400;
  background: url(../assets/iconmonstr-refresh-icon.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.link-out {
  padding: 5px 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 42px;
  background-color: white;
  color: #4FB99F;
}
